<!-- {{ title }}

<br />

{{ name }}

<br /> -->

<!--
    [ngModel]="name": one way data binding ou seja,
    só traz o valor do elemento, não atualiza a página caso
    o mesmo mude. Junção de uma via.
    [(ngModel)]="name" : to way data binding. Junção de duas vias,
    ou seja, vai tanto alterar a propriedade quanto atualizar
    a tela sempre que a mesma mudar
 -->
<!-- <input [(ngModel)]="name" name="name"/> -->

<!-- <br />

<app-course-list></app-course-list> -->

<!-- <br /> -->

<app-nav-bar></app-nav-bar>
<div class="container mt-4">
    <!-- <app-course-list></app-course-list> -->
    <router-outlet></router-outlet>
</div>
